<h1>¡Deporte ya!</h1>
<h2>Ajustes</h2>
<p><%= link_to 'Ver mi perfil', render_perfil_path %></p>
<p><%= link_to 'Actualizar Datos o Borrar Cuenta', edit_user_registration_path %></p>
<p>Cambiar foto (no disponible)</p>
<%= link_to 'Volver', render_index_path %>