<main class="container">
  <div class="row text-center justify-content-center">
    <div class="col">
      <h1 class="display-4"><p>Receta del choripán chileno</p>

      <p>Ingredientes</p>
      
      8 chorizos o longanizas</p>
      4 marraquetas frescas</p>
      Mayonesa casera</p>
      Pebre</p>
      Salsa verde</p>
      Chimichurri</p>
      Preparación</p>
      
      Prender el carbón y dejar que arda hasta formar brasas, la temperatura ideal puede calcularse acercando la palma de la mano a la parrilla y que sea posible soportar el calor unos 5 segundos.</p>
      Distribuir los chorizos o longanizas sobre la rejilla y asar por unos 10 minutos de forma homogénea, hasta que estén cocidos y crujientes por fuera, opcionalmente abrirlos por la mitad y marcarlos en la parrilla.</p>
      Un par de minutos antes de finalizar la cocción de los chorizos, dividir las marraquetas, abrir por el centro sin separar por completo y distribuir por el contorno de la parrilla hasta que estén tibias y ligeramente tostadas.</p>
      Armar los sándwiches insertando un chorizo o la longaniza en el interior de cada media marraqueta, presionando suavemente para liberar sus jugos.</p>
      Servir los choripanes inmediatamente y aderezar con chimichurri, mayonesa casera, pebre chileno o salsa verde a gusto.</p>
      ¿Chorizo o longaniza?</p>
      
      Habitualmente suele considerarse que chorizo y longaniza son la misma cosa, pero esto no es así, aunque lo primero que hay que tener en cuenta es que tanto el chorizo como la longaniza son embutidos de origen español elaborados a partir de carne de cerdo.</p>
      
      Las principal diferencia tiene que ver con el tipo de ingredientes, para elaborar chorizo se utiliza carne molida mientras que para elaborar longaniza se recurre a una mezcla de trozos de diferentes partes del cerdo.</p>
      
      Si bien el chorizo y la longaniza son alargados, el chorizo es más grueso y más pequeño, unos 10 a 15 centímetros mientras que la longaniza suele presentarse en longitudes de hasta 30 centímetros o más.</p>
      
      Consejos para unos choripanes perfectos</p>
      
      La marraqueta se considera un pan ideal para preparar choripanes debido a su consistencia liviana, su textura crocante y su forma adecuada para contener un chorizo sin que todo se desarme al comer.</p>
      
      Se recomienda siempre usar chorizo parrillero o similar, no longanizas, ya que estas exudan demasiada grasa durante la cocción. provocando que la parrilla ardn en flamas podrían quemar la piel del chorizo y/o provocar algún accidente.</p>
      
      Si se desea acompañar choripanes con mayonesa, se recomienda utilizar mayonesa casera, recién elaborada, esto sin duda hará una gran diferencia en la calidad del producto final, el ketchup y la mostaza no se consideran adecuados porque básicamente son productos que no permitirán apreciar el sabor del protagonista principal que es el chorizo.</p>
      
      Fuente: https://comidaschilenas.com/receta-de-choripan/</h1>
    </div>
  </div>
</main>