<main class="container">
  <div class="row text-center justify-content-center">
    <div class="col">
      <h1 class="display-4">

      <p>¡Deporte ya!</p>
      <% if user_signed_in? %>
        <p>Sesión iniciada <%= current_user.email %></p>
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Sign in', new_user_session_path %> |
        <%= link_to 'Sign up', new_user_registration_path %>
      <% end %>






    </div>
  </div>
</main>