# app/views/courses/enrolled_courses.html.erb
<h1>Mis Clases Inscritas</h1>

<% if @enrolled_courses.any? %>
  <% @enrolled_courses.each do |course| %>
    <div class="course-card">
      <h2><%= link_to course.title, course_path(course) %></h2>
      <p>Profesor: <%= course.user.name %></p>
      <p>Fecha: <%= course.scheduled_date %></p>
      <p>Modalidad: <%= course.modality %></p>
    </div>
  <% end %>
<% else %>
  <p>No estás inscrito en ninguna clase actualmente.</p>
<% end %>