<h1 class="title has-text-centered" style="color: #4CAF50;">Participantes de <%= @course.title %></h1>

<table class="table is-fullwidth has-text-centered">
  <thead>
    <tr>
      <th class="has-text-weight-bold">Nombre</th>
      <th class="has-text-weight-bold">Calificaciones</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |enrollment| %>
      <tr>
        <td><%= enrollment.user.name %></td>
        <td>
          <% if enrollment.grade.present? %>
            <%= enrollment.grade %>
          <% else %>
            Sin calificación disponible
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="has-text-centered" style="margin-top: 20px;">
  <%= link_to 'Volver', course_path(@course), class: 'button is-secondary' %>
</div>